<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="gp-cycle-de-vie-heading" jhiTranslate="gatewayApp.microserviceCycleDeVie.home.createOrEditLabel">Create or edit a Cycle De Vie</h2>

            <div>
                <gp-alert-error></gp-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.vitesseDeCroissance" for="field_vitesseDeCroissance">Vitesse De Croissance</label>
                    <input type="text" class="form-control" name="vitesseDeCroissance" id="field_vitesseDeCroissance"
                           formControlName="vitesseDeCroissance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.semis" for="field_semis">Semis</label>
                    <select class="form-control" id="field_semis" name="semis" formControlName="semisId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="semisOption.id" *ngFor="let semisOption of semis; trackBy: trackById">{{ semisOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.apparitionFeuilles" for="field_apparitionFeuilles">Apparition Feuilles</label>
                    <select class="form-control" id="field_apparitionFeuilles" name="apparitionFeuilles" formControlName="apparitionFeuillesId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodeAnneeOption.id" *ngFor="let periodeAnneeOption of apparitionfeuilles; trackBy: trackById">{{ periodeAnneeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.floraison" for="field_floraison">Floraison</label>
                    <select class="form-control" id="field_floraison" name="floraison" formControlName="floraisonId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodeAnneeOption.id" *ngFor="let periodeAnneeOption of floraisons; trackBy: trackById">{{ periodeAnneeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.recolte" for="field_recolte">Recolte</label>
                    <select class="form-control" id="field_recolte" name="recolte" formControlName="recolteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodeAnneeOption.id" *ngFor="let periodeAnneeOption of recoltes; trackBy: trackById">{{ periodeAnneeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.croissance" for="field_croissance">Croissance</label>
                    <select class="form-control" id="field_croissance" name="croissance" formControlName="croissanceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodeAnneeOption.id" *ngFor="let periodeAnneeOption of croissances; trackBy: trackById">{{ periodeAnneeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.maturite" for="field_maturite">Maturite</label>
                    <select class="form-control" id="field_maturite" name="maturite" formControlName="maturiteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodeAnneeOption.id" *ngFor="let periodeAnneeOption of maturites; trackBy: trackById">{{ periodeAnneeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.plantation" for="field_plantation">Plantation</label>
                    <select class="form-control" id="field_plantation" name="plantation" formControlName="plantationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodeAnneeOption.id" *ngFor="let periodeAnneeOption of plantations; trackBy: trackById">{{ periodeAnneeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCycleDeVie.rempotage" for="field_rempotage">Rempotage</label>
                    <select class="form-control" id="field_rempotage" name="rempotage" formControlName="rempotageId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodeAnneeOption.id" *ngFor="let periodeAnneeOption of rempotages; trackBy: trackById">{{ periodeAnneeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
