<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.microserviceCycleDeVie.home.title">Cycle De Vies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cycle-de-vie" [routerLink]="['/cycle-de-vie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.microserviceCycleDeVie.home.createLabel">
            Create a new Cycle De Vie
            </span>
        </button>
    </h2>

    <gp-alert-error></gp-alert-error>

    <gp-alert></gp-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cycleDeVies?.length === 0">
        <span jhiTranslate="gatewayApp.microserviceCycleDeVie.home.notFound">No cycleDeVies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cycleDeVies && cycleDeVies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vitesseDeCroissance"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.vitesseDeCroissance">Vitesse De Croissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="semisId"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.semis">Semis</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="apparitionFeuillesId"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.apparitionFeuilles">Apparition Feuilles</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="floraisonId"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.floraison">Floraison</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recolteId"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.recolte">Recolte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="croissanceId"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.croissance">Croissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maturiteId"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.maturite">Maturite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="plantationId"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.plantation">Plantation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rempotageId"><span jhiTranslate="gatewayApp.microserviceCycleDeVie.rempotage">Rempotage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cycleDeVie of cycleDeVies ;trackBy: trackId">
                    <td><a [routerLink]="['/cycle-de-vie', cycleDeVie.id, 'view']">{{ cycleDeVie.id }}</a></td>
                    <td>{{ cycleDeVie.vitesseDeCroissance }}</td>
                    <td>
                        <div *ngIf="cycleDeVie.semisId">
                            <a [routerLink]="['/semis', cycleDeVie.semisId , 'view']" >{{ cycleDeVie.semisId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cycleDeVie.apparitionFeuillesId">
                            <a [routerLink]="['/periode-annee', cycleDeVie.apparitionFeuillesId , 'view']" >{{ cycleDeVie.apparitionFeuillesId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cycleDeVie.floraisonId">
                            <a [routerLink]="['/periode-annee', cycleDeVie.floraisonId , 'view']" >{{ cycleDeVie.floraisonId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cycleDeVie.recolteId">
                            <a [routerLink]="['/periode-annee', cycleDeVie.recolteId , 'view']" >{{ cycleDeVie.recolteId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cycleDeVie.croissanceId">
                            <a [routerLink]="['/periode-annee', cycleDeVie.croissanceId , 'view']" >{{ cycleDeVie.croissanceId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cycleDeVie.maturiteId">
                            <a [routerLink]="['/periode-annee', cycleDeVie.maturiteId , 'view']" >{{ cycleDeVie.maturiteId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cycleDeVie.plantationId">
                            <a [routerLink]="['/periode-annee', cycleDeVie.plantationId , 'view']" >{{ cycleDeVie.plantationId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cycleDeVie.rempotageId">
                            <a [routerLink]="['/periode-annee', cycleDeVie.rempotageId , 'view']" >{{ cycleDeVie.rempotageId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cycle-de-vie', cycleDeVie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cycle-de-vie', cycleDeVie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cycleDeVie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cycleDeVies && cycleDeVies.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
