<div>
  <h2 id="page-heading" data-cy="SolHeading">
    <span>Sols</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sol"
        [routerLink]="['/sol/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Sol </span>
      </button>
    </div>
  </h2>

  <perma-alert-error></perma-alert-error>

  <perma-alert></perma-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sols?.length === 0">
    <span>No sols found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sols && sols.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr permaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" permaSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="phMin"><span>Ph Min</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="phMax"><span>Ph Max</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="richesse"><span>Richesse</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="plante.id"><span>Plante</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sol of sols; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sol', sol.id, 'view']">{{ sol.id }}</a>
          </td>
          <td>{{ sol.phMin }}</td>
          <td>{{ sol.phMax }}</td>
          <td>{{ sol.type }}</td>
          <td>{{ sol.richesse }}</td>
          <td>
            <div *ngIf="sol.plante">
              <a [routerLink]="['/plante', sol.plante?.id, 'view']">{{ sol.plante?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/sol', sol.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/sol', sol.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(sol)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sols && sols.length > 0">
    <div class="row justify-content-center">
      <perma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></perma-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
