<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="plante">
      <h2 data-cy="planteDetailsHeading"><span gpTranslate="gatewayApp.microservicePlante.detail.title">Plante</span></h2>

      <hr />

      <gp-alert-error></gp-alert-error>

      <gp-alert></gp-alert>

      <dl class="row-md jh-entity-details">
        <dt><span gpTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ plante.id }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.nomLatin">Nom Latin</span></dt>
        <dd>
          <span>{{ plante.nomLatin }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.entretien">Entretien</span></dt>
        <dd>
          <span>{{ plante.entretien }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.histoire">Histoire</span></dt>
        <dd>
          <span>{{ plante.histoire }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.vitesse">Vitesse</span></dt>
        <dd>
          <span>{{ plante.vitesse }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.cycleDeVie">Cycle De Vie</span></dt>
        <dd>
          <div *ngIf="plante.cycleDeVie">
            <a [routerLink]="['/cycle-de-vie', plante.cycleDeVie?.id, 'view']">{{ plante.cycleDeVie?.id }}</a>
          </div>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.classification">Classification</span></dt>
        <dd>
          <div *ngIf="plante.classification">
            <a [routerLink]="['/classification', plante.classification?.id, 'view']">{{ plante.classification?.id }}</a>
          </div>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.nomsVernaculaires">Noms Vernaculaires</span></dt>
        <dd>
          <span *ngFor="let nomsVernaculaires of plante.nomsVernaculaires; let last = last">
            <a [routerLink]="['/nom-vernaculaire', nomsVernaculaires?.id, 'view']">{{ nomsVernaculaires.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.temperature">Temperature</span></dt>
        <dd>
          <div *ngIf="plante.temperature">
            <a [routerLink]="['/temperature', plante.temperature?.id, 'view']">{{ plante.temperature?.id }}</a>
          </div>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.racine">Racine</span></dt>
        <dd>
          <div *ngIf="plante.racine">
            <a [routerLink]="['/racine', plante.racine?.id, 'view']">{{ plante.racine?.id }}</a>
          </div>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.strate">Strate</span></dt>
        <dd>
          <div *ngIf="plante.strate">
            <a [routerLink]="['/strate', plante.strate?.id, 'view']">{{ plante.strate?.id }}</a>
          </div>
        </dd>
        <dt><span gpTranslate="gatewayApp.microservicePlante.feuillage">Feuillage</span></dt>
        <dd>
          <div *ngIf="plante.feuillage">
            <a [routerLink]="['/feuillage', plante.feuillage?.id, 'view']">{{ plante.feuillage?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span gpTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plante', plante.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span gpTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
