<ptg-filtres (methodeSemisChange)="onMethodeSemisChange($event)" (periodeChange)="onPeriodeChange($event)">
</ptg-filtres>
<hr>

<div class="row">

    <div class="col-xl-2">
    </div>
    <div class="col-xl-10">
        <table class="table table-striped">
            <caption>Semis sous abris ou pleine terre</caption>
            <thead>
                <tr>
                    <th scope="col" sortable="nom" (sort)="onSort($event)">Trier</th>

                    <th *ngFor="let m of mois" scope="col">{{ m.nom }}</th>
                </tr>
            </thead>
            <tbody *ngFor="let plante of plantes">
                <tr *ngIf="filtreMethodeSemis?.sousAbris === true">
                    <th scope="row" [attr.rowspan]="filtreMethodeSemis?.pleineTerre === true ? '2' : '1'">
                        {{ plante.nom }}</th>

                    <ng-template [ngIf]="filtreMethodeSemis?.sousAbris === true">
                        <td *ngFor="let m of mois" class="{{ getSemisSousAbrisPossible(m.numero, plante) }}"></td>
                    </ng-template>
                </tr>
                <tr *ngIf="filtreMethodeSemis?.pleineTerre === true">
                    <th scope="row" *ngIf="filtreMethodeSemis?.sousAbris === false">
                        {{ plante.nom }}</th>

                    <ng-template [ngIf]="filtreMethodeSemis?.pleineTerre === true">
                        <td *ngFor="let m of mois" class="{{ getSemisPleineTerrePossible(m.numero, plante) }}"></td>
                    </ng-template>
                </tr>

                <tr *ngIf="filtreMethodeSemis?.pleineTerre === false && filtreMethodeSemis?.sousAbris === false">
                    <th scope="row">
                        {{ plante.nom }}</th>
                    <td *ngFor="let m of mois" class="noValue"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>