<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aPGIV">
      <h2 data-cy="aPGIVDetailsHeading"><span gpTranslate="gatewayApp.microserviceAPgiv.detail.title">APGIV</span></h2>

      <hr />

      <gp-alert-error></gp-alert-error>

      <gp-alert></gp-alert>

      <dl class="row-md jh-entity-details">
        <dt><span gpTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ aPGIV.id }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceAPgiv.ordre">Ordre</span></dt>
        <dd>
          <span>{{ aPGIV.ordre }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceAPgiv.famille">Famille</span></dt>
        <dd>
          <span>{{ aPGIV.famille }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span gpTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/apgiv', aPGIV.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span gpTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
