<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="infraOrdre">
      <h2 data-cy="infraOrdreDetailsHeading"><span>Infra Ordre</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ infraOrdre.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ infraOrdre.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ infraOrdre.nomLatin }}</span>
        </dd>
        <dt><span>Sous Ordre</span></dt>
        <dd>
          <div *ngIf="infraOrdre.sousOrdre">
            <a [routerLink]="['/sous-ordre', infraOrdre.sousOrdre?.id, 'view']">{{ infraOrdre.sousOrdre?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Infra Ordre</span></dt>
        <dd>
          <div *ngIf="infraOrdre.infraOrdre">
            <a [routerLink]="['/infra-ordre', infraOrdre.infraOrdre?.id, 'view']">{{ infraOrdre.infraOrdre?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/infra-ordre', infraOrdre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
