<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ordre">
      <h2 data-cy="ordreDetailsHeading"><span>Ordre</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ ordre.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ ordre.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ ordre.nomLatin }}</span>
        </dd>
        <dt><span>Super Ordre</span></dt>
        <dd>
          <div *ngIf="ordre.superOrdre">
            <a [routerLink]="['/super-ordre', ordre.superOrdre?.id, 'view']">{{ ordre.superOrdre?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Ordre</span></dt>
        <dd>
          <div *ngIf="ordre.ordre">
            <a [routerLink]="['/ordre', ordre.ordre?.id, 'view']">{{ ordre.ordre?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/ordre', ordre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
