<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="perma-sol-heading" data-cy="SolCreateUpdateHeading">Create or edit a Sol</h2>

      <div>
        <perma-alert-error></perma-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_phMin">Ph Min</label>
          <input type="number" class="form-control" name="phMin" id="field_phMin" data-cy="phMin" formControlName="phMin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_phMax">Ph Max</label>
          <input type="number" class="form-control" name="phMax" id="field_phMax" data-cy="phMax" formControlName="phMax" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_richesse">Richesse</label>
          <input type="text" class="form-control" name="richesse" id="field_richesse" data-cy="richesse" formControlName="richesse" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_plante">Plante</label>
          <select class="form-control" id="field_plante" data-cy="plante" name="plante" formControlName="plante">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="planteOption.id === editForm.get('plante')!.value?.id ? editForm.get('plante')!.value : planteOption"
              *ngFor="let planteOption of plantesSharedCollection; trackBy: trackPlanteById"
            >
              {{ planteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
