<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="perma-ordre-heading" data-cy="OrdreCreateUpdateHeading">Create or edit a Ordre</h2>

      <div>
        <perma-alert-error></perma-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomFr">Nom Fr</label>
          <input type="text" class="form-control" name="nomFr" id="field_nomFr" data-cy="nomFr" formControlName="nomFr" />
          <div *ngIf="editForm.get('nomFr')!.invalid && (editForm.get('nomFr')!.dirty || editForm.get('nomFr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nomFr')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomLatin">Nom Latin</label>
          <input type="text" class="form-control" name="nomLatin" id="field_nomLatin" data-cy="nomLatin" formControlName="nomLatin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_superOrdre">Super Ordre</label>
          <select class="form-control" id="field_superOrdre" data-cy="superOrdre" name="superOrdre" formControlName="superOrdre">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                superOrdreOption.id === editForm.get('superOrdre')!.value?.id ? editForm.get('superOrdre')!.value : superOrdreOption
              "
              *ngFor="let superOrdreOption of superOrdresSharedCollection; trackBy: trackSuperOrdreById"
            >
              {{ superOrdreOption.nomFr }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ordre">Ordre</label>
          <select class="form-control" id="field_ordre" data-cy="ordre" name="ordre" formControlName="ordre">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="ordreOption.id === editForm.get('ordre')!.value?.id ? editForm.get('ordre')!.value : ordreOption"
              *ngFor="let ordreOption of ordresSharedCollection; trackBy: trackOrdreById"
            >
              {{ ordreOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
