<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="infraEmbranchement">
      <h2 data-cy="infraEmbranchementDetailsHeading"><span>Infra Embranchement</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ infraEmbranchement.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ infraEmbranchement.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ infraEmbranchement.nomLatin }}</span>
        </dd>
        <dt><span>Sous Division</span></dt>
        <dd>
          <div *ngIf="infraEmbranchement.sousDivision">
            <a [routerLink]="['/sous-division', infraEmbranchement.sousDivision?.id, 'view']">{{
              infraEmbranchement.sousDivision?.nomFr
            }}</a>
          </div>
        </dd>
        <dt><span>Infra Embranchement</span></dt>
        <dd>
          <div *ngIf="infraEmbranchement.infraEmbranchement">
            <a [routerLink]="['/infra-embranchement', infraEmbranchement.infraEmbranchement?.id, 'view']">{{
              infraEmbranchement.infraEmbranchement?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/infra-embranchement', infraEmbranchement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
