<div>
  <h2 id="page-heading" data-cy="ClassificationHeading">
    <span>Classifications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-classification"
        [routerLink]="['/classification/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Classification </span>
      </button>
    </div>
  </h2>

  <perma-alert-error></perma-alert-error>

  <perma-alert></perma-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="classifications?.length === 0">
    <span>No classifications found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="classifications && classifications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr permaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" permaSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="raunkier.id"><span>Raunkier</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="cronquist.id"><span>Cronquist</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="apg1.id"><span>Apg 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="apg2.id"><span>Apg 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="apg3.id"><span>Apg 3</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="apg4.id"><span>Apg 4</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classification of classifications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/classification', classification.id, 'view']">{{ classification.id }}</a>
          </td>
          <td>
            <div *ngIf="classification.raunkier">
              <a [routerLink]="['/raunkier', classification.raunkier?.id, 'view']">{{ classification.raunkier?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="classification.cronquist">
              <a [routerLink]="['/cronquist', classification.cronquist?.id, 'view']">{{ classification.cronquist?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="classification.apg1">
              <a [routerLink]="['/apgi', classification.apg1?.id, 'view']">{{ classification.apg1?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="classification.apg2">
              <a [routerLink]="['/apgii', classification.apg2?.id, 'view']">{{ classification.apg2?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="classification.apg3">
              <a [routerLink]="['/apgiii', classification.apg3?.id, 'view']">{{ classification.apg3?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="classification.apg4">
              <a [routerLink]="['/apgiv', classification.apg4?.id, 'view']">{{ classification.apg4?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/classification', classification.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/classification', classification.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(classification)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="classifications && classifications.length > 0">
    <div class="row justify-content-center">
      <perma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></perma-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
