<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aPGIV">
            <h2><span jhiTranslate="gatewayApp.microserviceAPgiv.detail.title">APGIV</span> {{ aPGIV.id }}</h2>

            <hr>

            <gp-alert-error></gp-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.microserviceAPgiv.ordre">Ordre</span></dt>
                <dd>
                    <span>{{ aPGIV.ordre }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microserviceAPgiv.famille">Famille</span></dt>
                <dd>
                    <span>{{ aPGIV.famille }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/apgiv', aPGIV.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
