<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-allelopathie-heading" data-cy="AllelopathieCreateUpdateHeading">Create or edit a Allelopathie</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_impact">Impact</label>
          <input type="number" class="form-control" name="impact" id="field_impact" data-cy="impact" formControlName="impact" />
          <div *ngIf="editForm.get('impact')!.invalid && (editForm.get('impact')!.dirty || editForm.get('impact')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('impact')?.errors?.min"> This field should be at least -10. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('impact')?.errors?.max"> This field cannot be more than 10. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('impact')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cible">Cible</label>
          <select class="form-control" id="field_cible" data-cy="cible" name="cible" formControlName="cible">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="planteOption.id === editForm.get('cible')!.value?.id ? editForm.get('cible')!.value : planteOption"
              *ngFor="let planteOption of plantesSharedCollection; trackBy: trackPlanteById"
            >
              {{ planteOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_origine">Origine</label>
          <select class="form-control" id="field_origine" data-cy="origine" name="origine" formControlName="origine">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="planteOption.id === editForm.get('origine')!.value?.id ? editForm.get('origine')!.value : planteOption"
              *ngFor="let planteOption of plantesSharedCollection; trackBy: trackPlanteById"
            >
              {{ planteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
