<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="gp-cronquist-heading" jhiTranslate="gatewayApp.microserviceCronquist.home.createOrEditLabel">Create or edit a Cronquist</h2>

            <div>
                <gp-alert-error></gp-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCronquist.regne" for="field_regne">Regne</label>
                    <input type="text" class="form-control" name="regne" id="field_regne"
                           formControlName="regne"/>
                    <div *ngIf="editForm.get('regne')!.invalid && (editForm.get('regne')!.dirty || editForm.get('regne')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('regne')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCronquist.sousRegne" for="field_sousRegne">Sous Regne</label>
                    <input type="text" class="form-control" name="sousRegne" id="field_sousRegne"
                           formControlName="sousRegne"/>
                    <div *ngIf="editForm.get('sousRegne')!.invalid && (editForm.get('sousRegne')!.dirty || editForm.get('sousRegne')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sousRegne')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCronquist.division" for="field_division">Division</label>
                    <input type="text" class="form-control" name="division" id="field_division"
                           formControlName="division"/>
                    <div *ngIf="editForm.get('division')!.invalid && (editForm.get('division')!.dirty || editForm.get('division')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('division')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCronquist.classe" for="field_classe">Classe</label>
                    <input type="text" class="form-control" name="classe" id="field_classe"
                           formControlName="classe"/>
                    <div *ngIf="editForm.get('classe')!.invalid && (editForm.get('classe')!.dirty || editForm.get('classe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('classe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCronquist.sousClasse" for="field_sousClasse">Sous Classe</label>
                    <input type="text" class="form-control" name="sousClasse" id="field_sousClasse"
                           formControlName="sousClasse"/>
                    <div *ngIf="editForm.get('sousClasse')!.invalid && (editForm.get('sousClasse')!.dirty || editForm.get('sousClasse')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sousClasse')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCronquist.ordre" for="field_ordre">Ordre</label>
                    <input type="text" class="form-control" name="ordre" id="field_ordre"
                           formControlName="ordre"/>
                    <div *ngIf="editForm.get('ordre')!.invalid && (editForm.get('ordre')!.dirty || editForm.get('ordre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ordre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCronquist.famille" for="field_famille">Famille</label>
                    <input type="text" class="form-control" name="famille" id="field_famille"
                           formControlName="famille"/>
                    <div *ngIf="editForm.get('famille')!.invalid && (editForm.get('famille')!.dirty || editForm.get('famille')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('famille')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceCronquist.genre" for="field_genre">Genre</label>
                    <input type="text" class="form-control" name="genre" id="field_genre"
                           formControlName="genre"/>
                    <div *ngIf="editForm.get('genre')!.invalid && (editForm.get('genre')!.dirty || editForm.get('genre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('genre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
