<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.microserviceCronquist.home.title">Cronquists</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cronquist" [routerLink]="['/cronquist/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.microserviceCronquist.home.createLabel">
            Create a new Cronquist
            </span>
        </button>
    </h2>

    <gp-alert-error></gp-alert-error>

    <gp-alert></gp-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cronquists?.length === 0">
        <span jhiTranslate="gatewayApp.microserviceCronquist.home.notFound">No cronquists found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cronquists && cronquists.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="regne"><span jhiTranslate="gatewayApp.microserviceCronquist.regne">Regne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousRegne"><span jhiTranslate="gatewayApp.microserviceCronquist.sousRegne">Sous Regne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="division"><span jhiTranslate="gatewayApp.microserviceCronquist.division">Division</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="classe"><span jhiTranslate="gatewayApp.microserviceCronquist.classe">Classe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousClasse"><span jhiTranslate="gatewayApp.microserviceCronquist.sousClasse">Sous Classe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordre"><span jhiTranslate="gatewayApp.microserviceCronquist.ordre">Ordre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="famille"><span jhiTranslate="gatewayApp.microserviceCronquist.famille">Famille</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="genre"><span jhiTranslate="gatewayApp.microserviceCronquist.genre">Genre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cronquist of cronquists ;trackBy: trackId">
                    <td><a [routerLink]="['/cronquist', cronquist.id, 'view']">{{ cronquist.id }}</a></td>
                    <td>{{ cronquist.regne }}</td>
                    <td>{{ cronquist.sousRegne }}</td>
                    <td>{{ cronquist.division }}</td>
                    <td>{{ cronquist.classe }}</td>
                    <td>{{ cronquist.sousClasse }}</td>
                    <td>{{ cronquist.ordre }}</td>
                    <td>{{ cronquist.famille }}</td>
                    <td>{{ cronquist.genre }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cronquist', cronquist.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cronquist', cronquist.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cronquist)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cronquists && cronquists.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
