<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.microservicePlante.home.title">Plantes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plante" [routerLink]="['/plante/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.microservicePlante.home.createLabel">
            Create a new Plante
            </span>
        </button>
    </h2>

    <gp-alert-error></gp-alert-error>

    <gp-alert></gp-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="plantes?.length === 0">
        <span jhiTranslate="gatewayApp.microservicePlante.home.notFound">No plantes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="plantes && plantes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomLatin"><span jhiTranslate="gatewayApp.microservicePlante.nomLatin">Nom Latin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="entretien"><span jhiTranslate="gatewayApp.microservicePlante.entretien">Entretien</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="histoire"><span jhiTranslate="gatewayApp.microservicePlante.histoire">Histoire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="exposition"><span jhiTranslate="gatewayApp.microservicePlante.exposition">Exposition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rusticite"><span jhiTranslate="gatewayApp.microservicePlante.rusticite">Rusticite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cycleDeVieId"><span jhiTranslate="gatewayApp.microservicePlante.cycleDeVie">Cycle De Vie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="classificationId"><span jhiTranslate="gatewayApp.microservicePlante.classification">Classification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plante of plantes ;trackBy: trackId">
                    <td><a [routerLink]="['/plante', plante.id, 'view']">{{ plante.id }}</a></td>
                    <td>{{ plante.nomLatin }}</td>
                    <td>{{ plante.entretien }}</td>
                    <td>{{ plante.histoire }}</td>
                    <td>{{ plante.exposition }}</td>
                    <td>{{ plante.rusticite }}</td>
                    <td>
                        <div *ngIf="plante.cycleDeVieId">
                            <a [routerLink]="['/cycle-de-vie', plante.cycleDeVieId , 'view']" >{{ plante.cycleDeVieId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="plante.classificationId">
                            <a [routerLink]="['/classification', plante.classificationId , 'view']" >{{ plante.classificationId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/plante', plante.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/plante', plante.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(plante)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="plantes && plantes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
