<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plante">
            <h2><span jhiTranslate="gatewayApp.microservicePlante.detail.title">Plante</span> {{ plante.id }}</h2>

            <hr>

            <gp-alert-error></gp-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.microservicePlante.nomLatin">Nom Latin</span></dt>
                <dd>
                    <span>{{ plante.nomLatin }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicePlante.entretien">Entretien</span></dt>
                <dd>
                    <span>{{ plante.entretien }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicePlante.histoire">Histoire</span></dt>
                <dd>
                    <span>{{ plante.histoire }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicePlante.exposition">Exposition</span></dt>
                <dd>
                    <span>{{ plante.exposition }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicePlante.rusticite">Rusticite</span></dt>
                <dd>
                    <span>{{ plante.rusticite }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicePlante.cycleDeVie">Cycle De Vie</span></dt>
                <dd>
                    <div *ngIf="plante.cycleDeVieId">
                        <a [routerLink]="['/cycle-de-vie', plante.cycleDeVieId, 'view']">{{ plante.cycleDeVieId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicePlante.classification">Classification</span></dt>
                <dd>
                    <div *ngIf="plante.classificationId">
                        <a [routerLink]="['/classification', plante.classificationId, 'view']">{{ plante.classificationId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microservicePlante.nomsVernaculaires">Noms Vernaculaires</span></dt>
                <dd>
                    <span *ngFor="let nomsVernaculaires of plante.nomsVernaculaires; let last = last">
                        <a [routerLink]="['/nom-vernaculaire', nomsVernaculaires?.id, 'view']">{{ nomsVernaculaires.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plante', plante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
