<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="superRegne">
      <h2 data-cy="superRegneDetailsHeading"><span>Super Regne</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ superRegne.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ superRegne.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ superRegne.nomLatin }}</span>
        </dd>
        <dt><span>Super Regne</span></dt>
        <dd>
          <div *ngIf="superRegne.superRegne">
            <a [routerLink]="['/super-regne', superRegne.superRegne?.id, 'view']">{{ superRegne.superRegne?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/super-regne', superRegne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
