<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="gp-periode-annee-heading" jhiTranslate="gatewayApp.microservicePeriodeAnnee.home.createOrEditLabel">Create or edit a Periode Annee</h2>

            <div>
                <gp-alert-error></gp-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microservicePeriodeAnnee.debut" for="field_debut">Debut</label>
                    <select class="form-control" id="field_debut" name="debut" formControlName="debutId">
                        <option *ngIf="!editForm.get('debutId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="moisOption.id" *ngFor="let moisOption of debuts; trackBy: trackById">{{ moisOption.nom }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('debutId')!.invalid && (editForm.get('debutId')!.dirty || editForm.get('debutId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('debutId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microservicePeriodeAnnee.fin" for="field_fin">Fin</label>
                    <select class="form-control" id="field_fin" name="fin" formControlName="finId">
                        <option *ngIf="!editForm.get('finId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="moisOption.id" *ngFor="let moisOption of fins; trackBy: trackById">{{ moisOption.nom }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('finId')!.invalid && (editForm.get('finId')!.dirty || editForm.get('finId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('finId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
