<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.microservicePeriodeAnnee.home.title">Periode Annees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-periode-annee" [routerLink]="['/periode-annee/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.microservicePeriodeAnnee.home.createLabel">
            Create a new Periode Annee
            </span>
        </button>
    </h2>

    <gp-alert-error></gp-alert-error>

    <gp-alert></gp-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="periodeAnnees?.length === 0">
        <span jhiTranslate="gatewayApp.microservicePeriodeAnnee.home.notFound">No periodeAnnees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="periodeAnnees && periodeAnnees.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="debutNom"><span jhiTranslate="gatewayApp.microservicePeriodeAnnee.debut">Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finNom"><span jhiTranslate="gatewayApp.microservicePeriodeAnnee.fin">Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let periodeAnnee of periodeAnnees ;trackBy: trackId">
                    <td><a [routerLink]="['/periode-annee', periodeAnnee.id, 'view']">{{ periodeAnnee.id }}</a></td>
                    <td>
                        <div *ngIf="periodeAnnee.debutId">
                            <a [routerLink]="['/mois', periodeAnnee.debutId , 'view']" >{{ periodeAnnee.debutNom }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="periodeAnnee.finId">
                            <a [routerLink]="['/mois', periodeAnnee.finId , 'view']" >{{ periodeAnnee.finNom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/periode-annee', periodeAnnee.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/periode-annee', periodeAnnee.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(periodeAnnee)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="periodeAnnees && periodeAnnees.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
