<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="perma-tribu-heading" data-cy="TribuCreateUpdateHeading">Create or edit a Tribu</h2>

      <div>
        <perma-alert-error></perma-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomFr">Nom Fr</label>
          <input type="text" class="form-control" name="nomFr" id="field_nomFr" data-cy="nomFr" formControlName="nomFr" />
          <div *ngIf="editForm.get('nomFr')!.invalid && (editForm.get('nomFr')!.dirty || editForm.get('nomFr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nomFr')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomLatin">Nom Latin</label>
          <input type="text" class="form-control" name="nomLatin" id="field_nomLatin" data-cy="nomLatin" formControlName="nomLatin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sousFamille">Sous Famille</label>
          <select class="form-control" id="field_sousFamille" data-cy="sousFamille" name="sousFamille" formControlName="sousFamille">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                sousFamilleOption.id === editForm.get('sousFamille')!.value?.id ? editForm.get('sousFamille')!.value : sousFamilleOption
              "
              *ngFor="let sousFamilleOption of sousFamillesSharedCollection; trackBy: trackSousFamilleById"
            >
              {{ sousFamilleOption.nomFr }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tribu">Tribu</label>
          <select class="form-control" id="field_tribu" data-cy="tribu" name="tribu" formControlName="tribu">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="tribuOption.id === editForm.get('tribu')!.value?.id ? editForm.get('tribu')!.value : tribuOption"
              *ngFor="let tribuOption of tribusSharedCollection; trackBy: trackTribuById"
            >
              {{ tribuOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
