<div>
  <h2 id="page-heading" data-cy="InfraRegneHeading">
    <span>Infra Regnes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-infra-regne"
        [routerLink]="['/infra-regne/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Infra Regne </span>
      </button>
    </div>
  </h2>

  <perma-alert-error></perma-alert-error>

  <perma-alert></perma-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="infraRegnes?.length === 0">
    <span>No infraRegnes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="infraRegnes && infraRegnes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr permaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" permaSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="nomFr"><span>Nom Fr</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="nomLatin"><span>Nom Latin</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="rameau.nomFr"><span>Rameau</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="infraRegne.id"><span>Infra Regne</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let infraRegne of infraRegnes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/infra-regne', infraRegne.id, 'view']">{{ infraRegne.id }}</a>
          </td>
          <td>{{ infraRegne.nomFr }}</td>
          <td>{{ infraRegne.nomLatin }}</td>
          <td>
            <div *ngIf="infraRegne.rameau">
              <a [routerLink]="['/rameau', infraRegne.rameau?.id, 'view']">{{ infraRegne.rameau?.nomFr }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="infraRegne.infraRegne">
              <a [routerLink]="['/infra-regne', infraRegne.infraRegne?.id, 'view']">{{ infraRegne.infraRegne?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/infra-regne', infraRegne.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/infra-regne', infraRegne.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(infraRegne)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="infraRegnes && infraRegnes.length > 0">
    <div class="row justify-content-center">
      <perma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></perma-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
