<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="perma-micro-embranchement-heading" data-cy="MicroEmbranchementCreateUpdateHeading">Create or edit a Micro Embranchement</h2>

      <div>
        <perma-alert-error></perma-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomFr">Nom Fr</label>
          <input type="text" class="form-control" name="nomFr" id="field_nomFr" data-cy="nomFr" formControlName="nomFr" />
          <div *ngIf="editForm.get('nomFr')!.invalid && (editForm.get('nomFr')!.dirty || editForm.get('nomFr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nomFr')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomLatin">Nom Latin</label>
          <input type="text" class="form-control" name="nomLatin" id="field_nomLatin" data-cy="nomLatin" formControlName="nomLatin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_infraEmbranchement">Infra Embranchement</label>
          <select
            class="form-control"
            id="field_infraEmbranchement"
            data-cy="infraEmbranchement"
            name="infraEmbranchement"
            formControlName="infraEmbranchement"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                infraEmbranchementOption.id === editForm.get('infraEmbranchement')!.value?.id
                  ? editForm.get('infraEmbranchement')!.value
                  : infraEmbranchementOption
              "
              *ngFor="let infraEmbranchementOption of infraEmbranchementsSharedCollection; trackBy: trackInfraEmbranchementById"
            >
              {{ infraEmbranchementOption.nomFr }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_microEmbranchement">Micro Embranchement</label>
          <select
            class="form-control"
            id="field_microEmbranchement"
            data-cy="microEmbranchement"
            name="microEmbranchement"
            formControlName="microEmbranchement"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                microEmbranchementOption.id === editForm.get('microEmbranchement')!.value?.id
                  ? editForm.get('microEmbranchement')!.value
                  : microEmbranchementOption
              "
              *ngFor="let microEmbranchementOption of microEmbranchementsSharedCollection; trackBy: trackMicroEmbranchementById"
            >
              {{ microEmbranchementOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
