<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="superFamille">
      <h2 data-cy="superFamilleDetailsHeading"><span>Super Famille</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ superFamille.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ superFamille.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ superFamille.nomLatin }}</span>
        </dd>
        <dt><span>Micro Ordre</span></dt>
        <dd>
          <div *ngIf="superFamille.microOrdre">
            <a [routerLink]="['/micro-ordre', superFamille.microOrdre?.id, 'view']">{{ superFamille.microOrdre?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Super Famille</span></dt>
        <dd>
          <div *ngIf="superFamille.superFamille">
            <a [routerLink]="['/super-famille', superFamille.superFamille?.id, 'view']">{{ superFamille.superFamille?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/super-famille', superFamille.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
