<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ressemblance">
      <h2 data-cy="ressemblanceDetailsHeading"><span gpTranslate="gatewayApp.microserviceRessemblance.detail.title">Ressemblance</span></h2>

      <hr />

      <gp-alert-error></gp-alert-error>

      <gp-alert></gp-alert>

      <dl class="row-md jh-entity-details">
        <dt><span gpTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ressemblance.id }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceRessemblance.description">Description</span></dt>
        <dd>
          <span>{{ ressemblance.description }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceRessemblance.confusion">Confusion</span></dt>
        <dd>
          <div *ngIf="ressemblance.confusion">
            <a [routerLink]="['/plante', ressemblance.confusion?.id, 'view']">{{ ressemblance.confusion?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span gpTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ressemblance', ressemblance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span gpTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
