<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sol">
            <h2><span jhiTranslate="gatewayApp.microserviceSol.detail.title">Sol</span> {{ sol.id }}</h2>

            <hr>

            <gp-alert-error></gp-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.microserviceSol.acidite">Acidite</span></dt>
                <dd>
                    <span>{{ sol.acidite }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microserviceSol.type">Type</span></dt>
                <dd>
                    <span>{{ sol.type }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sol', sol.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
