<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="gp-cronquist-heading"
        data-cy="CronquistCreateUpdateHeading"
        gpTranslate="gatewayApp.microserviceCronquist.home.createOrEditLabel"
      >
        Create or edit a Cronquist
      </h2>

      <div>
        <gp-alert-error></gp-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" gpTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceCronquist.regne" for="field_regne">Regne</label>
          <input type="text" class="form-control" name="regne" id="field_regne" data-cy="regne" formControlName="regne" />
          <div *ngIf="editForm.get('regne')!.invalid && (editForm.get('regne')!.dirty || editForm.get('regne')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('regne')?.errors?.required" gpTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceCronquist.sousRegne" for="field_sousRegne"
            >Sous Regne</label
          >
          <input type="text" class="form-control" name="sousRegne" id="field_sousRegne" data-cy="sousRegne" formControlName="sousRegne" />
          <div *ngIf="editForm.get('sousRegne')!.invalid && (editForm.get('sousRegne')!.dirty || editForm.get('sousRegne')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('sousRegne')?.errors?.required"
              gpTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceCronquist.division" for="field_division">Division</label>
          <input type="text" class="form-control" name="division" id="field_division" data-cy="division" formControlName="division" />
          <div *ngIf="editForm.get('division')!.invalid && (editForm.get('division')!.dirty || editForm.get('division')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('division')?.errors?.required"
              gpTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceCronquist.classe" for="field_classe">Classe</label>
          <input type="text" class="form-control" name="classe" id="field_classe" data-cy="classe" formControlName="classe" />
          <div *ngIf="editForm.get('classe')!.invalid && (editForm.get('classe')!.dirty || editForm.get('classe')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('classe')?.errors?.required" gpTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceCronquist.sousClasse" for="field_sousClasse"
            >Sous Classe</label
          >
          <input
            type="text"
            class="form-control"
            name="sousClasse"
            id="field_sousClasse"
            data-cy="sousClasse"
            formControlName="sousClasse"
          />
          <div *ngIf="editForm.get('sousClasse')!.invalid && (editForm.get('sousClasse')!.dirty || editForm.get('sousClasse')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('sousClasse')?.errors?.required"
              gpTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceCronquist.ordre" for="field_ordre">Ordre</label>
          <input type="text" class="form-control" name="ordre" id="field_ordre" data-cy="ordre" formControlName="ordre" />
          <div *ngIf="editForm.get('ordre')!.invalid && (editForm.get('ordre')!.dirty || editForm.get('ordre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ordre')?.errors?.required" gpTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceCronquist.famille" for="field_famille">Famille</label>
          <input type="text" class="form-control" name="famille" id="field_famille" data-cy="famille" formControlName="famille" />
          <div *ngIf="editForm.get('famille')!.invalid && (editForm.get('famille')!.dirty || editForm.get('famille')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('famille')?.errors?.required" gpTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceCronquist.genre" for="field_genre">Genre</label>
          <input type="text" class="form-control" name="genre" id="field_genre" data-cy="genre" formControlName="genre" />
          <div *ngIf="editForm.get('genre')!.invalid && (editForm.get('genre')!.dirty || editForm.get('genre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('genre')?.errors?.required" gpTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span gpTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span gpTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
