<div>
  <h2 id="page-heading" data-cy="APGIHeading">
    <span gpTranslate="gatewayApp.microserviceAPgi.home.title">APGIS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span gpTranslate="gatewayApp.microserviceAPgi.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-apgi"
        [routerLink]="['/apgi/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span gpTranslate="gatewayApp.microserviceAPgi.home.createLabel"> Create a new APGI </span>
      </button>
    </div>
  </h2>

  <gp-alert-error></gp-alert-error>

  <gp-alert></gp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="aPGIS?.length === 0">
    <span gpTranslate="gatewayApp.microserviceAPgi.home.notFound">No aPGIS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="aPGIS && aPGIS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr gpSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" gpSortBy="id"><span gpTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" gpSortBy="ordre">
            <span gpTranslate="gatewayApp.microserviceAPgi.ordre">Ordre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" gpSortBy="famille">
            <span gpTranslate="gatewayApp.microserviceAPgi.famille">Famille</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aPGI of aPGIS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/apgi', aPGI.id, 'view']">{{ aPGI.id }}</a>
          </td>
          <td>{{ aPGI.ordre }}</td>
          <td>{{ aPGI.famille }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/apgi', aPGI.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" gpTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/apgi', aPGI.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" gpTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(aPGI)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" gpTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="aPGIS && aPGIS.length > 0">
    <div class="row justify-content-center">
      <gp-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></gp-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
