<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="perma-cronquist-rank-heading" data-cy="CronquistRankCreateUpdateHeading">Create or edit a Cronquist Rank</h2>

      <div>
        <perma-alert-error></perma-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rank">Rank</label>
          <select class="form-control" name="rank" formControlName="rank" id="field_rank" data-cy="rank">
            <option [ngValue]="null"></option>
            <option *ngFor="let cronquistTaxonomikRanks of cronquistTaxonomikRanksValues" [value]="cronquistTaxonomikRanks">
              cronquistTaxonomikRanks
            </option>
          </select>
          <div *ngIf="editForm.get('rank')!.invalid && (editForm.get('rank')!.dirty || editForm.get('rank')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rank')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomFr">Nom Fr</label>
          <input type="text" class="form-control" name="nomFr" id="field_nomFr" data-cy="nomFr" formControlName="nomFr" />
          <div *ngIf="editForm.get('nomFr')!.invalid && (editForm.get('nomFr')!.dirty || editForm.get('nomFr')!.touched)"></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomLantin">Nom Lantin</label>
          <input type="text" class="form-control" name="nomLantin" id="field_nomLantin" data-cy="nomLantin" formControlName="nomLantin" />
          <div *ngIf="editForm.get('nomLantin')!.invalid && (editForm.get('nomLantin')!.dirty || editForm.get('nomLantin')!.touched)"></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_parent">Parent</label>
          <select class="form-control" id="field_parent" data-cy="parent" name="parent" formControlName="parent">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="cronquistRankOption.id === editForm.get('parent')!.value?.id ? editForm.get('parent')!.value : cronquistRankOption"
              *ngFor="let cronquistRankOption of cronquistRanksSharedCollection; trackBy: trackCronquistRankById"
            >
              {{ cronquistRankOption.nomFr }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cronquistRank">Cronquist Rank</label>
          <select
            class="form-control"
            id="field_cronquistRank"
            data-cy="cronquistRank"
            name="cronquistRank"
            formControlName="cronquistRank"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                cronquistRankOption.id === editForm.get('cronquistRank')!.value?.id
                  ? editForm.get('cronquistRank')!.value
                  : cronquistRankOption
              "
              *ngFor="let cronquistRankOption of cronquistRanksSharedCollection; trackBy: trackCronquistRankById"
            >
              {{ cronquistRankOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
