<div>
  <h2 id="page-heading" data-cy="PlanteHeading">
    <span>Plantes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plante"
        [routerLink]="['/plante/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Plante </span>
      </button>
    </div>
  </h2>

  <perma-alert-error></perma-alert-error>

  <perma-alert></perma-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="plantes?.length === 0">
    <span>No plantes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="plantes && plantes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr permaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" permaSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="entretien"><span>Entretien</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="histoire"><span>Histoire</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="vitesseCroissance"><span>Vitesse Croissance</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="exposition"><span>Exposition</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="classification.id"><span>Classification</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="cycleDeVie.id"><span>Cycle De Vie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="sol.id"><span>Sol</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="temperature.id"><span>Temperature</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="racine.id"><span>Racine</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="strate.id"><span>Strate</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="feuillage.id"><span>Feuillage</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="plante.id"><span>Plante</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plante of plantes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/plante', plante.id, 'view']">{{ plante.id }}</a>
          </td>
          <td>{{ plante.entretien }}</td>
          <td>{{ plante.histoire }}</td>
          <td>{{ plante.vitesseCroissance }}</td>
          <td>{{ plante.exposition }}</td>
          <td>
            <div *ngIf="plante.classification">
              <a [routerLink]="['/classification', plante.classification?.id, 'view']">{{ plante.classification?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="plante.cycleDeVie">
              <a [routerLink]="['/cycle-de-vie', plante.cycleDeVie?.id, 'view']">{{ plante.cycleDeVie?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="plante.sol">
              <a [routerLink]="['/sol', plante.sol?.id, 'view']">{{ plante.sol?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="plante.temperature">
              <a [routerLink]="['/temperature', plante.temperature?.id, 'view']">{{ plante.temperature?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="plante.racine">
              <a [routerLink]="['/racine', plante.racine?.id, 'view']">{{ plante.racine?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="plante.strate">
              <a [routerLink]="['/strate', plante.strate?.id, 'view']">{{ plante.strate?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="plante.feuillage">
              <a [routerLink]="['/feuillage', plante.feuillage?.id, 'view']">{{ plante.feuillage?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="plante.plante">
              <a [routerLink]="['/plante', plante.plante?.id, 'view']">{{ plante.plante?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/plante', plante.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/plante', plante.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(plante)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="plantes && plantes.length > 0">
    <div class="row justify-content-center">
      <perma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></perma-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
