<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="gp-classification-heading"
        data-cy="ClassificationCreateUpdateHeading"
        gpTranslate="gatewayApp.microserviceClassification.home.createOrEditLabel"
      >
        Create or edit a Classification
      </h2>

      <div>
        <gp-alert-error></gp-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" gpTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceClassification.raunkier" for="field_raunkier"
            >Raunkier</label
          >
          <select class="form-control" id="field_raunkier" data-cy="raunkier" name="raunkier" formControlName="raunkier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="raunkierOption.id === editForm.get('raunkier')!.value?.id ? editForm.get('raunkier')!.value : raunkierOption"
              *ngFor="let raunkierOption of raunkiersCollection; trackBy: trackRaunkierById"
            >
              {{ raunkierOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceClassification.cronquist" for="field_cronquist"
            >Cronquist</label
          >
          <select class="form-control" id="field_cronquist" data-cy="cronquist" name="cronquist" formControlName="cronquist">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="cronquistOption.id === editForm.get('cronquist')!.value?.id ? editForm.get('cronquist')!.value : cronquistOption"
              *ngFor="let cronquistOption of cronquistsCollection; trackBy: trackCronquistById"
            >
              {{ cronquistOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceClassification.apg1" for="field_apg1">Apg 1</label>
          <select class="form-control" id="field_apg1" data-cy="apg1" name="apg1" formControlName="apg1">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="aPGIOption.id === editForm.get('apg1')!.value?.id ? editForm.get('apg1')!.value : aPGIOption"
              *ngFor="let aPGIOption of apg1sCollection; trackBy: trackAPGIById"
            >
              {{ aPGIOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceClassification.apg2" for="field_apg2">Apg 2</label>
          <select class="form-control" id="field_apg2" data-cy="apg2" name="apg2" formControlName="apg2">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="aPGIIOption.id === editForm.get('apg2')!.value?.id ? editForm.get('apg2')!.value : aPGIIOption"
              *ngFor="let aPGIIOption of apg2sCollection; trackBy: trackAPGIIById"
            >
              {{ aPGIIOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceClassification.apg3" for="field_apg3">Apg 3</label>
          <select class="form-control" id="field_apg3" data-cy="apg3" name="apg3" formControlName="apg3">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="aPGIIIOption.id === editForm.get('apg3')!.value?.id ? editForm.get('apg3')!.value : aPGIIIOption"
              *ngFor="let aPGIIIOption of apg3sCollection; trackBy: trackAPGIIIById"
            >
              {{ aPGIIIOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" gpTranslate="gatewayApp.microserviceClassification.apg4" for="field_apg4">Apg 4</label>
          <select class="form-control" id="field_apg4" data-cy="apg4" name="apg4" formControlName="apg4">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="aPGIVOption.id === editForm.get('apg4')!.value?.id ? editForm.get('apg4')!.value : aPGIVOption"
              *ngFor="let aPGIVOption of apg4sCollection; trackBy: trackAPGIVById"
            >
              {{ aPGIVOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span gpTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span gpTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
