<div>
  <h2 id="page-heading" data-cy="CycleDeVieHeading">
    <span>Cycle De Vies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cycle-de-vie"
        [routerLink]="['/cycle-de-vie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Cycle De Vie </span>
      </button>
    </div>
  </h2>

  <perma-alert-error></perma-alert-error>

  <perma-alert></perma-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cycleDeVies?.length === 0">
    <span>No cycleDeVies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cycleDeVies && cycleDeVies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr permaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" permaSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="semis.id"><span>Semis</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="apparitionFeuilles.id"><span>Apparition Feuilles</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="floraison.id"><span>Floraison</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="recolte.id"><span>Recolte</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="croissance.id"><span>Croissance</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="maturite.id"><span>Maturite</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="plantation.id"><span>Plantation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="rempotage.id"><span>Rempotage</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="reproduction.id"><span>Reproduction</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cycleDeVie of cycleDeVies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cycle-de-vie', cycleDeVie.id, 'view']">{{ cycleDeVie.id }}</a>
          </td>
          <td>
            <div *ngIf="cycleDeVie.semis">
              <a [routerLink]="['/semis', cycleDeVie.semis?.id, 'view']">{{ cycleDeVie.semis?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cycleDeVie.apparitionFeuilles">
              <a [routerLink]="['/periode-annee', cycleDeVie.apparitionFeuilles?.id, 'view']">{{ cycleDeVie.apparitionFeuilles?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cycleDeVie.floraison">
              <a [routerLink]="['/periode-annee', cycleDeVie.floraison?.id, 'view']">{{ cycleDeVie.floraison?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cycleDeVie.recolte">
              <a [routerLink]="['/periode-annee', cycleDeVie.recolte?.id, 'view']">{{ cycleDeVie.recolte?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cycleDeVie.croissance">
              <a [routerLink]="['/periode-annee', cycleDeVie.croissance?.id, 'view']">{{ cycleDeVie.croissance?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cycleDeVie.maturite">
              <a [routerLink]="['/periode-annee', cycleDeVie.maturite?.id, 'view']">{{ cycleDeVie.maturite?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cycleDeVie.plantation">
              <a [routerLink]="['/periode-annee', cycleDeVie.plantation?.id, 'view']">{{ cycleDeVie.plantation?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cycleDeVie.rempotage">
              <a [routerLink]="['/periode-annee', cycleDeVie.rempotage?.id, 'view']">{{ cycleDeVie.rempotage?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cycleDeVie.reproduction">
              <a [routerLink]="['/reproduction', cycleDeVie.reproduction?.id, 'view']">{{ cycleDeVie.reproduction?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cycle-de-vie', cycleDeVie.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cycle-de-vie', cycleDeVie.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(cycleDeVie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cycleDeVies && cycleDeVies.length > 0">
    <div class="row justify-content-center">
      <perma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></perma-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
