<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="forme">
      <h2 data-cy="formeDetailsHeading"><span>Forme</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ forme.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ forme.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ forme.nomLatin }}</span>
        </dd>
        <dt><span>Sous Variete</span></dt>
        <dd>
          <div *ngIf="forme.sousVariete">
            <a [routerLink]="['/sous-variete', forme.sousVariete?.id, 'view']">{{ forme.sousVariete?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Forme</span></dt>
        <dd>
          <div *ngIf="forme.forme">
            <a [routerLink]="['/forme', forme.forme?.id, 'view']">{{ forme.forme?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/forme', forme.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
