<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="feuillage">
      <h2 data-cy="feuillageDetailsHeading"><span>Feuillage</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ feuillage.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ feuillage.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/feuillage', feuillage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
