<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="gp-classification-heading" jhiTranslate="gatewayApp.microserviceClassification.home.createOrEditLabel">Create or edit a Classification</h2>

            <div>
                <gp-alert-error></gp-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceClassification.raunkier" for="field_raunkier">Raunkier</label>
                    <select class="form-control" id="field_raunkier" name="raunkier" formControlName="raunkierId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="raunkierOption.id" *ngFor="let raunkierOption of raunkiers; trackBy: trackById">{{ raunkierOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceClassification.cronquist" for="field_cronquist">Cronquist</label>
                    <select class="form-control" id="field_cronquist" name="cronquist" formControlName="cronquistId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cronquistOption.id" *ngFor="let cronquistOption of cronquists; trackBy: trackById">{{ cronquistOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceClassification.apg1" for="field_apg1">Apg 1</label>
                    <select class="form-control" id="field_apg1" name="apg1" formControlName="apg1Id">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aPGIOption.id" *ngFor="let aPGIOption of apg1s; trackBy: trackById">{{ aPGIOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceClassification.apg2" for="field_apg2">Apg 2</label>
                    <select class="form-control" id="field_apg2" name="apg2" formControlName="apg2Id">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aPGIIOption.id" *ngFor="let aPGIIOption of apg2s; trackBy: trackById">{{ aPGIIOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceClassification.apg3" for="field_apg3">Apg 3</label>
                    <select class="form-control" id="field_apg3" name="apg3" formControlName="apg3Id">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aPGIIIOption.id" *ngFor="let aPGIIIOption of apg3s; trackBy: trackById">{{ aPGIIIOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.microserviceClassification.apg4" for="field_apg4">Apg 4</label>
                    <select class="form-control" id="field_apg4" name="apg4" formControlName="apg4Id">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aPGIVOption.id" *ngFor="let aPGIVOption of apg4s; trackBy: trackById">{{ aPGIVOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
