<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="classification">
            <h2><span jhiTranslate="gatewayApp.microserviceClassification.detail.title">Classification</span> {{ classification.id }}</h2>

            <hr>

            <gp-alert-error></gp-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.microserviceClassification.raunkier">Raunkier</span></dt>
                <dd>
                    <div *ngIf="classification.raunkierId">
                        <a [routerLink]="['/raunkier', classification.raunkierId, 'view']">{{ classification.raunkierId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microserviceClassification.cronquist">Cronquist</span></dt>
                <dd>
                    <div *ngIf="classification.cronquistId">
                        <a [routerLink]="['/cronquist', classification.cronquistId, 'view']">{{ classification.cronquistId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microserviceClassification.apg1">Apg 1</span></dt>
                <dd>
                    <div *ngIf="classification.apg1Id">
                        <a [routerLink]="['/apgi', classification.apg1Id, 'view']">{{ classification.apg1Id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microserviceClassification.apg2">Apg 2</span></dt>
                <dd>
                    <div *ngIf="classification.apg2Id">
                        <a [routerLink]="['/apgii', classification.apg2Id, 'view']">{{ classification.apg2Id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microserviceClassification.apg3">Apg 3</span></dt>
                <dd>
                    <div *ngIf="classification.apg3Id">
                        <a [routerLink]="['/apgiii', classification.apg3Id, 'view']">{{ classification.apg3Id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.microserviceClassification.apg4">Apg 4</span></dt>
                <dd>
                    <div *ngIf="classification.apg4Id">
                        <a [routerLink]="['/apgiv', classification.apg4Id, 'view']">{{ classification.apg4Id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/classification', classification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
