<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="aPGIIIPlante">
      <h2 data-cy="aPGIIIPlanteDetailsHeading"><span>APGIII Plante</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ aPGIIIPlante.id }}</span>
        </dd>
        <dt><span>Ordre</span></dt>
        <dd>
          <span>{{ aPGIIIPlante.ordre }}</span>
        </dd>
        <dt><span>Famille</span></dt>
        <dd>
          <span>{{ aPGIIIPlante.famille }}</span>
        </dd>
        <dt><span>Sous Famille</span></dt>
        <dd>
          <span>{{ aPGIIIPlante.sousFamille }}</span>
        </dd>
        <dt><span>Tribu</span></dt>
        <dd>
          <span>{{ aPGIIIPlante.tribu }}</span>
        </dd>
        <dt><span>Sous Tribu</span></dt>
        <dd>
          <span>{{ aPGIIIPlante.sousTribu }}</span>
        </dd>
        <dt><span>Genre</span></dt>
        <dd>
          <span>{{ aPGIIIPlante.genre }}</span>
        </dd>
        <dt><span>Clades</span></dt>
        <dd>
          <span *ngFor="let clades of aPGIIIPlante.clades; let last = last">
            <a [routerLink]="['/clade', clades?.id, 'view']">{{ clades.nom }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/apgiii-plante', aPGIIIPlante.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
