<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-plante-heading" data-cy="PlanteCreateUpdateHeading">Create or edit a Plante</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_entretien">Entretien</label>
          <input type="text" class="form-control" name="entretien" id="field_entretien" data-cy="entretien" formControlName="entretien" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_histoire">Histoire</label>
          <input type="text" class="form-control" name="histoire" id="field_histoire" data-cy="histoire" formControlName="histoire" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vitesseCroissance">Vitesse Croissance</label>
          <input
            type="text"
            class="form-control"
            name="vitesseCroissance"
            id="field_vitesseCroissance"
            data-cy="vitesseCroissance"
            formControlName="vitesseCroissance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_exposition">Exposition</label>
          <input
            type="text"
            class="form-control"
            name="exposition"
            id="field_exposition"
            data-cy="exposition"
            formControlName="exposition"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cycleDeVie">Cycle De Vie</label>
          <select class="form-control" id="field_cycleDeVie" data-cy="cycleDeVie" name="cycleDeVie" formControlName="cycleDeVie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                cycleDeVieOption.id === editForm.get('cycleDeVie')!.value?.id ? editForm.get('cycleDeVie')!.value : cycleDeVieOption
              "
              *ngFor="let cycleDeVieOption of cycleDeViesCollection; trackBy: trackCycleDeVieById"
            >
              {{ cycleDeVieOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_classification">Classification</label>
          <select
            class="form-control"
            id="field_classification"
            data-cy="classification"
            name="classification"
            formControlName="classification"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                classificationOption.id === editForm.get('classification')!.value?.id
                  ? editForm.get('classification')!.value
                  : classificationOption
              "
              *ngFor="let classificationOption of classificationsSharedCollection; trackBy: trackClassificationById"
            >
              {{ classificationOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_nomsVernaculaires">Noms Vernaculaires</label>
          <select
            class="form-control"
            id="field_nomsVernaculaires"
            data-cy="nomsVernaculaires"
            multiple
            name="nomsVernaculaires"
            formControlName="nomsVernaculaires"
          >
            <option
              [ngValue]="getSelectedNomVernaculaire(nomVernaculaireOption, editForm.get('nomsVernaculaires')!.value)"
              *ngFor="let nomVernaculaireOption of nomVernaculairesSharedCollection; trackBy: trackNomVernaculaireById"
            >
              {{ nomVernaculaireOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_temperature">Temperature</label>
          <select class="form-control" id="field_temperature" data-cy="temperature" name="temperature" formControlName="temperature">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                temperatureOption.id === editForm.get('temperature')!.value?.id ? editForm.get('temperature')!.value : temperatureOption
              "
              *ngFor="let temperatureOption of temperaturesSharedCollection; trackBy: trackTemperatureById"
            >
              {{ temperatureOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_racine">Racine</label>
          <select class="form-control" id="field_racine" data-cy="racine" name="racine" formControlName="racine">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="racineOption.id === editForm.get('racine')!.value?.id ? editForm.get('racine')!.value : racineOption"
              *ngFor="let racineOption of racinesSharedCollection; trackBy: trackRacineById"
            >
              {{ racineOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_strate">Strate</label>
          <select class="form-control" id="field_strate" data-cy="strate" name="strate" formControlName="strate">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="strateOption.id === editForm.get('strate')!.value?.id ? editForm.get('strate')!.value : strateOption"
              *ngFor="let strateOption of stratesSharedCollection; trackBy: trackStrateById"
            >
              {{ strateOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_feuillage">Feuillage</label>
          <select class="form-control" id="field_feuillage" data-cy="feuillage" name="feuillage" formControlName="feuillage">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="feuillageOption.id === editForm.get('feuillage')!.value?.id ? editForm.get('feuillage')!.value : feuillageOption"
              *ngFor="let feuillageOption of feuillagesSharedCollection; trackBy: trackFeuillageById"
            >
              {{ feuillageOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
