<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="regne">
      <h2 data-cy="regneDetailsHeading"><span>Regne</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ regne.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ regne.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ regne.nomLatin }}</span>
        </dd>
        <dt><span>Super Regne</span></dt>
        <dd>
          <div *ngIf="regne.superRegne">
            <a [routerLink]="['/super-regne', regne.superRegne?.id, 'view']">{{ regne.superRegne?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Regne</span></dt>
        <dd>
          <div *ngIf="regne.regne">
            <a [routerLink]="['/regne', regne.regne?.id, 'view']">{{ regne.regne?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/regne', regne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
