<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="allelopathie">
      <h2 data-cy="allelopathieDetailsHeading"><span gpTranslate="gatewayApp.microserviceAllelopathie.detail.title">Allelopathie</span></h2>

      <hr />

      <gp-alert-error></gp-alert-error>

      <gp-alert></gp-alert>

      <dl class="row-md jh-entity-details">
        <dt><span gpTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ allelopathie.id }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceAllelopathie.type">Type</span></dt>
        <dd>
          <span>{{ allelopathie.type }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceAllelopathie.description">Description</span></dt>
        <dd>
          <span>{{ allelopathie.description }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceAllelopathie.cible">Cible</span></dt>
        <dd>
          <div *ngIf="allelopathie.cible">
            <a [routerLink]="['/plante', allelopathie.cible?.id, 'view']">{{ allelopathie.cible?.id }}</a>
          </div>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceAllelopathie.origine">Origine</span></dt>
        <dd>
          <div *ngIf="allelopathie.origine">
            <a [routerLink]="['/plante', allelopathie.origine?.id, 'view']">{{ allelopathie.origine?.id }}</a>
          </div>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceAllelopathie.interaction">Interaction</span></dt>
        <dd>
          <div *ngIf="allelopathie.interaction">
            <a [routerLink]="['/plante', allelopathie.interaction?.id, 'view']">{{ allelopathie.interaction?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span gpTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/allelopathie', allelopathie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span gpTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
