<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="racine">
      <h2 data-cy="racineDetailsHeading"><span gpTranslate="gatewayApp.microserviceRacine.detail.title">Racine</span></h2>

      <hr />

      <gp-alert-error></gp-alert-error>

      <gp-alert></gp-alert>

      <dl class="row-md jh-entity-details">
        <dt><span gpTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ racine.id }}</span>
        </dd>
        <dt><span gpTranslate="gatewayApp.microserviceRacine.type">Type</span></dt>
        <dd>
          <span>{{ racine.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span gpTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/racine', racine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span gpTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
