<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sousDivision">
      <h2 data-cy="sousDivisionDetailsHeading"><span>Sous Division</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ sousDivision.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ sousDivision.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ sousDivision.nomLatin }}</span>
        </dd>
        <dt><span>Division</span></dt>
        <dd>
          <div *ngIf="sousDivision.division">
            <a [routerLink]="['/division', sousDivision.division?.id, 'view']">{{ sousDivision.division?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Sous Division</span></dt>
        <dd>
          <div *ngIf="sousDivision.sousDivision">
            <a [routerLink]="['/sous-division', sousDivision.sousDivision?.id, 'view']">{{ sousDivision.sousDivision?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/sous-division', sousDivision.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
