<div>
  <h2 id="page-heading" data-cy="GenreHeading">
    <span>Genres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-genre"
        [routerLink]="['/genre/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Genre </span>
      </button>
    </div>
  </h2>

  <perma-alert-error></perma-alert-error>

  <perma-alert></perma-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="genres?.length === 0">
    <span>No genres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="genres && genres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr permaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" permaSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="nomFr"><span>Nom Fr</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="nomLatin"><span>Nom Latin</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="sousTribu.nomFr"><span>Sous Tribu</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="genre.id"><span>Genre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genre of genres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/genre', genre.id, 'view']">{{ genre.id }}</a>
          </td>
          <td>{{ genre.nomFr }}</td>
          <td>{{ genre.nomLatin }}</td>
          <td>
            <div *ngIf="genre.sousTribu">
              <a [routerLink]="['/sous-tribu', genre.sousTribu?.id, 'view']">{{ genre.sousTribu?.nomFr }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="genre.genre">
              <a [routerLink]="['/genre', genre.genre?.id, 'view']">{{ genre.genre?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/genre', genre.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/genre', genre.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(genre)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="genres && genres.length > 0">
    <div class="row justify-content-center">
      <perma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></perma-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
