<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="perma-variete-heading" data-cy="VarieteCreateUpdateHeading">Create or edit a Variete</h2>

      <div>
        <perma-alert-error></perma-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomFr">Nom Fr</label>
          <input type="text" class="form-control" name="nomFr" id="field_nomFr" data-cy="nomFr" formControlName="nomFr" />
          <div *ngIf="editForm.get('nomFr')!.invalid && (editForm.get('nomFr')!.dirty || editForm.get('nomFr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nomFr')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomLatin">Nom Latin</label>
          <input type="text" class="form-control" name="nomLatin" id="field_nomLatin" data-cy="nomLatin" formControlName="nomLatin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sousEspece">Sous Espece</label>
          <select class="form-control" id="field_sousEspece" data-cy="sousEspece" name="sousEspece" formControlName="sousEspece">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                sousEspeceOption.id === editForm.get('sousEspece')!.value?.id ? editForm.get('sousEspece')!.value : sousEspeceOption
              "
              *ngFor="let sousEspeceOption of sousEspecesSharedCollection; trackBy: trackSousEspeceById"
            >
              {{ sousEspeceOption.nomFr }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_variete">Variete</label>
          <select class="form-control" id="field_variete" data-cy="variete" name="variete" formControlName="variete">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="varieteOption.id === editForm.get('variete')!.value?.id ? editForm.get('variete')!.value : varieteOption"
              *ngFor="let varieteOption of varietesSharedCollection; trackBy: trackVarieteById"
            >
              {{ varieteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
