<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sousForme">
      <h2 data-cy="sousFormeDetailsHeading"><span>Sous Forme</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ sousForme.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ sousForme.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ sousForme.nomLatin }}</span>
        </dd>
        <dt><span>Forme</span></dt>
        <dd>
          <div *ngIf="sousForme.forme">
            <a [routerLink]="['/forme', sousForme.forme?.id, 'view']">{{ sousForme.forme?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Sous Forme</span></dt>
        <dd>
          <div *ngIf="sousForme.sousForme">
            <a [routerLink]="['/sous-forme', sousForme.sousForme?.id, 'view']">{{ sousForme.sousForme?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/sous-forme', sousForme.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
