<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="genre">
      <h2 data-cy="genreDetailsHeading"><span>Genre</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ genre.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ genre.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ genre.nomLatin }}</span>
        </dd>
        <dt><span>Sous Tribu</span></dt>
        <dd>
          <div *ngIf="genre.sousTribu">
            <a [routerLink]="['/sous-tribu', genre.sousTribu?.id, 'view']">{{ genre.sousTribu?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Genre</span></dt>
        <dd>
          <div *ngIf="genre.genre">
            <a [routerLink]="['/genre', genre.genre?.id, 'view']">{{ genre.genre?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/genre', genre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
