<div>
  <h2 id="page-heading" data-cy="PlanteHeading">
    <span>Tableau des semis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plante"
        [routerLink]="['/plante/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Plante </span>
      </button>
    </div>
  </h2>

  <perma-alert-error></perma-alert-error>

  <perma-alert></perma-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="plantes?.length === 0">
    <span>No plantes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="plantes && plantes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr permaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
        <th scope="col" permaSortBy="id"><span>ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" *ngFor="let m of mois$|async">{{ m.nom }}</th>
      </tr>
      </thead>
      <tbody>

      <ng-container *ngFor="let plante of plantes; trackBy: trackId; let i = index" data-cy="entityTable">
        <tr>
          <!--        [attr.rowspan]="2"-->
          <th scope="row" [attr.rowspan]="2">
            <ng-template #loading>
              <div class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-template>
            <a *ngIf="plante.nomsVernaculaires; else loading"
               [routerLink]="['/plante', plante.id, 'view']">{{ getNomVernaculaire(plante) }}</a>
          </th>
          <td *ngFor="let m of mois$|async" [ngClass]="
        (m?.numero??0) >= (plante?.cycleDeVie?.semis?.semisPleineTerre?.debut?.numero ?? 13) &&
        (m?.numero??13) <= (plante?.cycleDeVie?.semis?.semisPleineTerre?.fin?.numero ?? 0) ?
        'green': 'red'"></td>
        </tr>
        <tr>
          <td *ngFor="let m of mois$|async" [ngClass]="
        (m?.numero??0) >= (plante?.cycleDeVie?.semis?.semisSousAbris?.debut?.numero ?? 13) &&
        (m?.numero??13) <= (plante?.cycleDeVie?.semis?.semisSousAbris?.fin?.numero ?? 0) ?
        'green': 'red'"></td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

  <div *ngIf="plantes && plantes.length > 0">
    <div class="row justify-content-center">
      <perma-item-count
        [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></perma-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
