<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="germination">
      <h2 data-cy="germinationDetailsHeading"><span>Germination</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ germination.id }}</span>
        </dd>
        <dt><span>Temps De Germination</span></dt>
        <dd>
          <span>{{ germination.tempsDeGermination }}</span>
        </dd>
        <dt><span>Condition De Germination</span></dt>
        <dd>
          <span>{{ germination.conditionDeGermination }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/germination', germination.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
