<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tribu">
      <h2 data-cy="tribuDetailsHeading"><span>Tribu</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tribu.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ tribu.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ tribu.nomLatin }}</span>
        </dd>
        <dt><span>Sous Famille</span></dt>
        <dd>
          <div *ngIf="tribu.sousFamille">
            <a [routerLink]="['/sous-famille', tribu.sousFamille?.id, 'view']">{{ tribu.sousFamille?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Tribu</span></dt>
        <dd>
          <div *ngIf="tribu.tribu">
            <a [routerLink]="['/tribu', tribu.tribu?.id, 'view']">{{ tribu.tribu?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tribu', tribu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
