<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="infraClasse">
      <h2 data-cy="infraClasseDetailsHeading"><span>Infra Classe</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ infraClasse.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ infraClasse.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ infraClasse.nomLatin }}</span>
        </dd>
        <dt><span>Sous Classe</span></dt>
        <dd>
          <div *ngIf="infraClasse.sousClasse">
            <a [routerLink]="['/sous-classe', infraClasse.sousClasse?.id, 'view']">{{ infraClasse.sousClasse?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Infra Classe</span></dt>
        <dd>
          <div *ngIf="infraClasse.infraClasse">
            <a [routerLink]="['/infra-classe', infraClasse.infraClasse?.id, 'view']">{{ infraClasse.infraClasse?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/infra-classe', infraClasse.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
