<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sousOrdre">
      <h2 data-cy="sousOrdreDetailsHeading"><span>Sous Ordre</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ sousOrdre.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ sousOrdre.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ sousOrdre.nomLatin }}</span>
        </dd>
        <dt><span>Ordre</span></dt>
        <dd>
          <div *ngIf="sousOrdre.ordre">
            <a [routerLink]="['/ordre', sousOrdre.ordre?.id, 'view']">{{ sousOrdre.ordre?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Sous Ordre</span></dt>
        <dd>
          <div *ngIf="sousOrdre.sousOrdre">
            <a [routerLink]="['/sous-ordre', sousOrdre.sousOrdre?.id, 'view']">{{ sousOrdre.sousOrdre?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/sous-ordre', sousOrdre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
