<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.microserviceRessemblance.home.title">Ressemblances</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ressemblance" [routerLink]="['/ressemblance/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.microserviceRessemblance.home.createLabel">
            Create a new Ressemblance
            </span>
        </button>
    </h2>

    <gp-alert-error></gp-alert-error>

    <gp-alert></gp-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ressemblances?.length === 0">
        <span jhiTranslate="gatewayApp.microserviceRessemblance.home.notFound">No ressemblances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ressemblances && ressemblances.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gatewayApp.microserviceRessemblance.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="confusionId"><span jhiTranslate="gatewayApp.microserviceRessemblance.confusion">Confusion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ressemblance of ressemblances ;trackBy: trackId">
                    <td><a [routerLink]="['/ressemblance', ressemblance.id, 'view']">{{ ressemblance.id }}</a></td>
                    <td>{{ ressemblance.description }}</td>
                    <td>
                        <div *ngIf="ressemblance.confusionId">
                            <a [routerLink]="['/plante', ressemblance.confusionId , 'view']" >{{ ressemblance.confusionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ressemblance', ressemblance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ressemblance', ressemblance.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ressemblance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ressemblances && ressemblances.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
