<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="infraRegne">
      <h2 data-cy="infraRegneDetailsHeading"><span>Infra Regne</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ infraRegne.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ infraRegne.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ infraRegne.nomLatin }}</span>
        </dd>
        <dt><span>Rameau</span></dt>
        <dd>
          <div *ngIf="infraRegne.rameau">
            <a [routerLink]="['/rameau', infraRegne.rameau?.id, 'view']">{{ infraRegne.rameau?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Infra Regne</span></dt>
        <dd>
          <div *ngIf="infraRegne.infraRegne">
            <a [routerLink]="['/infra-regne', infraRegne.infraRegne?.id, 'view']">{{ infraRegne.infraRegne?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/infra-regne', infraRegne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
