<div>
  <h2 id="page-heading" data-cy="SemisHeading">
    <span>Semis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-semis"
        [routerLink]="['/semis/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Semis </span>
      </button>
    </div>
  </h2>

  <perma-alert-error></perma-alert-error>

  <perma-alert></perma-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="semis?.length === 0">
    <span>No semis found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="semis && semis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr permaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" permaSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="semisPleineTerre.id"><span>Semis Pleine Terre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="semisSousAbris.id"><span>Semis Sous Abris</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="typeSemis.type"><span>Type Semis</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" permaSortBy="germination.id"><span>Germination</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let semis of semis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/semis', semis.id, 'view']">{{ semis.id }}</a>
          </td>
          <td>
            <div *ngIf="semis.semisPleineTerre">
              <a [routerLink]="['/periode-annee', semis.semisPleineTerre?.id, 'view']">{{ semis.semisPleineTerre?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="semis.semisSousAbris">
              <a [routerLink]="['/periode-annee', semis.semisSousAbris?.id, 'view']">{{ semis.semisSousAbris?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="semis.typeSemis">
              <a [routerLink]="['/type-semis', semis.typeSemis?.id, 'view']">{{ semis.typeSemis?.type }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="semis.germination">
              <a [routerLink]="['/germination', semis.germination?.id, 'view']">{{ semis.germination?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/semis', semis.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/semis', semis.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(semis)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="semis && semis.length > 0">
    <div class="row justify-content-center">
      <perma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></perma-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
