<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rameau">
      <h2 data-cy="rameauDetailsHeading"><span>Rameau</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ rameau.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ rameau.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ rameau.nomLatin }}</span>
        </dd>
        <dt><span>Sous Regne</span></dt>
        <dd>
          <div *ngIf="rameau.sousRegne">
            <a [routerLink]="['/sous-regne', rameau.sousRegne?.id, 'view']">{{ rameau.sousRegne?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Rameau</span></dt>
        <dd>
          <div *ngIf="rameau.rameau">
            <a [routerLink]="['/rameau', rameau.rameau?.id, 'view']">{{ rameau.rameau?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/rameau', rameau.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
