<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.microserviceAllelopathie.home.title">Allelopathies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-allelopathie" [routerLink]="['/allelopathie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.microserviceAllelopathie.home.createLabel">
            Create a new Allelopathie
            </span>
        </button>
    </h2>

    <gp-alert-error></gp-alert-error>

    <gp-alert></gp-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="allelopathies?.length === 0">
        <span jhiTranslate="gatewayApp.microserviceAllelopathie.home.notFound">No allelopathies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="allelopathies && allelopathies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="gatewayApp.microserviceAllelopathie.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gatewayApp.microserviceAllelopathie.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cibleId"><span jhiTranslate="gatewayApp.microserviceAllelopathie.cible">Cible</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="origineId"><span jhiTranslate="gatewayApp.microserviceAllelopathie.origine">Origine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planteId"><span jhiTranslate="gatewayApp.microserviceAllelopathie.plante">Plante</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let allelopathie of allelopathies ;trackBy: trackId">
                    <td><a [routerLink]="['/allelopathie', allelopathie.id, 'view']">{{ allelopathie.id }}</a></td>
                    <td>{{ allelopathie.type }}</td>
                    <td>{{ allelopathie.description }}</td>
                    <td>
                        <div *ngIf="allelopathie.cibleId">
                            <a [routerLink]="['/plante', allelopathie.cibleId , 'view']" >{{ allelopathie.cibleId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="allelopathie.origineId">
                            <a [routerLink]="['/plante', allelopathie.origineId , 'view']" >{{ allelopathie.origineId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="allelopathie.planteId">
                            <a [routerLink]="['/plante', allelopathie.planteId , 'view']" >{{ allelopathie.planteId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/allelopathie', allelopathie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/allelopathie', allelopathie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(allelopathie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="allelopathies && allelopathies.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
