<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="espece">
      <h2 data-cy="especeDetailsHeading"><span>Espece</span></h2>

      <hr />

      <perma-alert-error></perma-alert-error>

      <perma-alert></perma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ espece.id }}</span>
        </dd>
        <dt><span>Nom Fr</span></dt>
        <dd>
          <span>{{ espece.nomFr }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ espece.nomLatin }}</span>
        </dd>
        <dt><span>Sous Section</span></dt>
        <dd>
          <div *ngIf="espece.sousSection">
            <a [routerLink]="['/sous-section', espece.sousSection?.id, 'view']">{{ espece.sousSection?.nomFr }}</a>
          </div>
        </dd>
        <dt><span>Espece</span></dt>
        <dd>
          <div *ngIf="espece.espece">
            <a [routerLink]="['/espece', espece.espece?.id, 'view']">{{ espece.espece?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/espece', espece.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
